html,
body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(215deg, rgb(116, 84, 249) 0%, rgb(115, 17, 176) 85%);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
