html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lilita One";
  background-image: radial-gradient(circle, #0474ff, #0249be);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Lilita One";
  font-weight: 400;
}
